	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

	body{
		font-family: courier-new;
		margin: 0px; 
		overflow-x: hidden;
		background-color: #F6F6F6; 
		line-height: 22px; 
	}
	@font-face {
  font-family: courier-new;
  src: url(../fonts/courier-new.otf);
}
	@font-face {
  font-family: baskerville;
  src: url(../fonts/baskerville.otf);
}
img{
	width: 100%; 
}
video{
	width: 100%; 
}
li img{
	width: 100%; 
}
	.title{
		/*background-color: black; 
		color: white; */
		border-bottom:  solid black  1px; 
	}

p{
	/*text-align: center;*/
	font-family/*:*/ courier; 
}
ul{
	width: 100%; 
	margin-top: 2%; 
	list-style-type:none;
	margin-left: 2.5%;

}
a{
		text-decoration: none; 
		color: black;
		border-bottom:  solid black  1px; 
		cursor: pointer;

		background-color: #BFDFF6;  
	}
	a:hover {
	  background-color:  #F6F6F6;
	}

	#copyright{
	display: block;		
	width: 100%; 
	text-align: center;
	}
/*	.title{
		font-family: baskerville;
		font-size: 1.2vw; 
		text-transform: uppercase;
		color: grey; 
}*/

.blinking {
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
  
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.important-01{
	background-color: #F9F9AC; 
	/*yellow*/
}

.important-02{
	background-color: #ACF9AC;
	/*green*/
}

.important-03{
	background-color: #F5DED8;
	/*pink*/
}
.link{
	background-color: #BFDFF6;
	/*pink*/
}
#key{
	position: fixed;
	width: 10%; 
	top: 82vh; 
	left: 2.5%; 
	 text-transform: uppercase;
}
#key p{
	margin-bottom: 5px; 
}
	
/*desktop styles*/
@media screen and (min-width: 768px) {

		#pl-logo{
		width: 20%; 
		position: fixed;
		/*margin-left: 5%;*/
		/*margin-left: 35%; */
		/*margin-top: 5%; */
	}

	li{
		width: 20%; 
		display: block; 
		float: left; 
		margin-right: 5%; 
		min-height: 10vh; 
		-webkit-hyphens: auto;
	  -ms-hyphens: auto;
	  hyphens: auto;
		  text-align: justify;

	}
	.content{
		min-height: 110vh; 
	}
	
	.first{
		/*margin-left: 2.5%; */
	}
	.last{
		margin-right: 2%; 
	}
	.mobile-only{
		display: none; 
	}
	.end-line{
		font-size: .9vw; 
		color: grey; 
	}

}
/*mobile styles*/

@media screen and (max-width: 769px) {
li{
		width: 90%; 
		display: block; 
		float: left; 
		margin-left: 2.5%;
		/*margin-right: 5%; */
		/*min-height: 10vh; */
		-webkit-hyphens: auto;
	  -ms-hyphens: auto;
	  hyphens: auto;
	  margin-bottom: 20%; 
text-align: justify;
	}
	#pl-logo{
		margin-top: 5%;  
		/*margin-left: 5%;*/
		/*margin-left: 35%; */
		/*margin-top: 5%; */
	}
	.none{
		display: none; 
	}
	.end-line{
		font-size: 4vw; 
		color: grey; 
	}
}