	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
html{
	scroll-behavior: smooth;
			transition: 0.7s all;

}


#container1{
	font-family: courier-new;
}

#important-news{
	/*width: 100%; 
	height: 5vh; 
	background-color: #F9F9AC; 
	text-align: center;
	margin-bottom: 2.5vh;*/

}
#important-news p{
	background-color: #F9F9AC; 
	text-align: center;
	width: 100%;
	padding-top: 1vh; 
	padding-bottom: 1vh; 
	padding-top: 1vh; 
	margin-bottom: 2.5vh;
}

	body{
		font-family: courier-new;
		margin: 0px; 
		overflow-x: hidden;
		background: #ffcdc5;
				transition: 1s all;

		line-height: 22px; 
	}
	@font-face {
  font-family: courier-new;
  src: url(../fonts/courier-new.otf);
}
	@font-face {
  font-family: baskerville;
  src: url(../fonts/baskerville.otf);
}
img{
	width: 100%; 
}
video{
	width: 100%; 
}
li img{
	width: 100%; 
}
	.title{
		/*background-color: black; 
		color: white; */
		border-bottom:  solid black  1px; 
	}

p{
	/*text-align: center;*/
	font-family/*:*/ courier; 
}
ul{
	width: 100%; 
	/*padding-top: 2%; */
	list-style-type:none;
	/*margin-left: 2.5%;*/

}
a{
		text-decoration: none; 
		color: black;
		/*border-bottom:  solid black  1px; */
		cursor: pointer;

		background-color: #BFDFF6;  
	}
	a:hover {
	  background-color:  #F6F6F6;
	}

	#copyright{
	display: block;		
	width: 100%; 
	text-align: center;
	margin-top: 40px;
	}
/*	.title{
		font-family: baskerville;
		font-size: 1.2vw; 
		text-transform: uppercase;
		color: grey; 
}*/

.blinking {
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
  
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.important-01{
	background-color: #F9F9AC; 
	/*yellow*/
}

.important-02{
	background-color: #ACF9AC;
	/*green*/
}

.important-03{
	background-color: #F5DED8;
	/*pink*/
}
.link{
	background-color: #BFDFF6;
	/*pink*/
}

	
/*desktop styles*/
@media screen and (min-width: 768px) {
/*#rsvp{
	width: 10%;
    top: 65vh;
    left: 49vw;
    position: absolute;
    background: url("../images/rsvp-01.png") no-repeat;
}*/


 .rsvp {
        width: 10%;
    top: 61vh;
    left: 48vw;
    position: absolute;
    cursor: pointer; 
    }
    .rsvp .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .rsvp:hover .img-top {
        display: inline;
    }


#bf2{
	width: 51%;
    position: absolute;
    left: 29vw;
    top: 32vh;
    /* transform: rotate(1deg); */
    z-index: 1000;
}
#bf3{
	width: 45%;
    position: absolute;
    left: 7vw;
    bottom: -.60vh;
    z-index: 1000;
}
#bf4{
	width: 18%;
    position: absolute;
    left: 82vw;
    top: 0vh;
    /* transform: rotate(-15deg); */
    z-index: 1000;
}
#bf5{
	width: 10%;
    position: absolute;
    left: 18vw;
    top: -3vh;
    /* transform: rotate(-15deg); */
    z-index: 1000;
}
#bf6{
	width: 30%;
    position: absolute;
    left: 67vw;
    bottom: -.60vh;
    z-index: 1000;
}
#bf7{
	width: 6%;
    position: absolute;
    left: 93.5vw;
    bottom: 2vh;
    z-index: 1000;
}
	.changeColor {
	   background-color: #F6F6F6; 
	}



		#pl-logo{
		width: 20%; 
		position: fixed;
		margin-left: 2.5%;
		/*margin-left: 35%; */
		/*margin-top: 5%; */
	}

	li{
		width: 22%; 
		display: block; 
		float: left; 
		margin-right: 3%; 
		min-height: 8vh; 
		-webkit-hyphens: auto;
	  -ms-hyphens: auto;
	  hyphens: auto;
		  text-align: justify;

	}
	.content{
		/*min-height: 110vh; */
	}
	
	.featured-content{
		width: 100%;
		display: block; 
		float: left; 
		margin-right: 3%; 
		min-height: 79vh;
		-webkit-hyphens: auto;
	  -ms-hyphens: auto;
	  hyphens: auto;
		  text-align: justify;
	}
	.first{
		/*margin-left: 2.5%; */
	}
	.last{
		margin-right: 2%; 
	}
	.mobile-only{
		display: none; 
	}
	.end-line{
		font-size: .9vw; 
		color: grey; 
	}
	#key{
	position: fixed;
	/*width: 10%; */
	bottom: 3vh; 
	left: 2.5%; 
	 text-transform: uppercase;
	 pointer-events:none;
}
#key p{
	margin-bottom: 5px; 
}
sup{
	font-size: .75vw
}
	.divider{
		width: 100%; 
		height: .5vh; 
		/*background-color: blue; */
		display: block;
		position: relative;
	}
	#toc{
		position: fixed;
		top: 15vh; 
		left: 2.5%; 
		/*text-transform: uppercase;*/
		/*pointer-events:none;*/

	}
}
/*mobile styles*/

@media screen and (max-width: 769px) {
	body{
		background-color: #F6F6F6; 
	}
	#bf2{
		display: none;
	}
	#bf3{
		display: none;
	}
	#bf4{
		display: none;
	}
	#bf5{
		display: none;
	}
	#bf6{
		display: none;
	}
	#bf7{
		display: none;
	}
	.featured-content{
		display: none; 
	}

li{
		width: 92%; 
		display: block; 
		float: left; 
		margin-left: 1.5%;
		/*margin-right: 5%; */
		/*min-height: 10vh; */
		-webkit-hyphens: auto;
	  -ms-hyphens: auto;
	  hyphens: auto;
	  margin-bottom: 12%;
text-align: justify;
	}

	#important-news {
		height: 12vh;

	}
	#important-news p{
		padding-top: 2vh;
    line-height: 22px;
	}

	ul{
	width: 95%; 
	padding-top: 2%; 
	list-style-type:none;
	margin-left: 5%;

}
	#pl-logo{
		margin-top: 5%;  
		/*margin-left: 5%;*/
		/*margin-left: 35%; */
		/*margin-top: 5%; */
	}
	.none{
		display: none; 
	}
	.end-line{
		font-size: 4vw; 
		color: grey; 
	}
	#key{
	position: relative;
	/*width: 10%; */
	/*left: 5%; */
	margin-bottom: 0%; 
	 text-transform: uppercase;
	 pointer-events:none;
	 /*height: 500px; */
}
#key p{
	margin-bottom: 5px; 
	pointer-events:none;
}
sup{
	font-size: 4vw
}
	#toc{
		position: relative;
		/*top: 15vh; */
		padding-left: 5%; 
		margin-bottom: 8vh; 
		/*text-transform: uppercase;*/
		/*pointer-events:none;*/

	}
}